body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f9;
    padding: 20px;
}

/* General styling for the form */
#searchForm {
    display: flex;
    flex-direction: column;  /* This ensures children stack vertically */
    align-items: center;     
    margin-bottom: 40px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 40px;
}


/* Styling for the search input */
#searchForm input {
    width: 100%;            /* Full width of the form */
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #007BFF;
    margin-bottom: 10px;    /* Space between the inputs */
    outline: none;
    font-size: 16px;
}

/* Style when an input field is focused */
#searchForm input:focus {
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

/* Styling for the search button */
#searchForm button {
    width: 100%;            /* Full width of the form */
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #007BFF;
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;       /* Space above the button */
}

/* Hover effect for the search button */
#searchForm button:hover {
    background-color: #0056b3;
}

.study-block {
    border: 1px solid #d1d1d1;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
}

.study-block:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.study-title, .study-location, .study-start-date, .study-contact, .study-url {
    margin-bottom: 12px;
    color: #333;
}

.study-title {
    font-weight: bold;
    font-size: 18px;
    color: #2a2a2a;
}

.study-url a {
    /* background-color: #007BFF; */
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
}

#signupSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.signup-section {
    /* background-color: #007BFF; */
    color: #000000;
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
}

.signup-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.signup-section input{
    padding: 8px;
    border: 1px solid blue;
    border-radius: 5px;
    width: 60%;
    margin-right: 5px;
}


.signup-section button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #007BFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-section button:hover {
    background-color: #e6e6e6;
}

/* mailchimp form */
#mc_embed_signup{
    background:#fff; 
    clear:left; 
    font:14px Helvetica,
    Arial,sans-serif; 
    width: 50%;
    padding-left:10px;
}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

#mc_embed_shell {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mc-embedded-subscribe-form {
    margin: 0 auto;
    width: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#mc-embedded-subscribe-form .button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* give padding to input rows */
#mc-embedded-subscribe-form .mc-field-group{
    margin-bottom: 10px;
}
